@font-face {
	font-family: "Montserrat"; 
    font-style: normal;
	font-weight: normal;
	src: url(/fonts/Montserrat/Montserrat-Medium.ttf); 
}

@font-face {
	font-family: "Montserrat"; 
	font-style: normal;
	font-weight: bold;
	src: url(/fonts/Montserrat/Montserrat-Bold.ttf); 
}

@font-face {
	font-family: "Montserrat"; 
	font-style: normal;
	font-weight: 900;
	src: url(/fonts/Montserrat/Montserrat-ExtraBold.ttf); 
}

@font-face {
	font-family: "Montserrat"; 
	font-style: italic;
	font-weight: normal;
	src: url(/fonts/Montserrat/Montserrat-Italic.ttf); 
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: normal;
}

.main-page {

}
.main-page__body {
    display: flex;
    flex-direction: column;
}

.header-menu{
    display: flex;
}

.main-page__header-menu {
    justify-content: space-around;
    flex-grow: 0.1;
}

.header-menu__options-container {
}

.options-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options-container__button--with-image {
}

.button--with-image {
    background: none;
    border: none;
}

.button--with-image__button-image {
    height: 100%;
    width: 100%;
}

.logo-with--title {
}
.logo-with--title__image {
}
.option-container__lang-name {
    color: #555555;
}
.option-container__lang-image {
}
.options-container__telephone-container {
}
.options-container__form {
}
.form {
}
.form__select, .form__select:hover,
.form__select:focus {
    border: none;
    font-weight: 900;
    color: #555555;
}
.form__option {
}
.option-container__hint {
    color: #00B8FF;
    text-decoration: underline dashed;
}

.button {
    color: white;
    background-color: #00B8FF;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.option-container {
}

.main-page__presentation {
    flex-grow: 0.45;
}

.catalog{

}

.main-page__catalog {
    flex-grow: 0.45;
}