@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: normal;
    src: url(/fonts/Montserrat/Montserrat-Italic.ttf);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: normal;
}

:root {
    height: 100%;
}

body {
    height: 100%;
}

.main-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.main-page__body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-menu {
    display: flex;
    background: white;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px; 
    box-shadow: rgb(214, 214, 214) 0 2px 4px;
}

.main-page__header-menu {
    z-index: 2;
    flex-grow: 1;
}


.options-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.options-container__button--with-image {
    margin-left: 10px; 
}

.button--with-image {
    background: none;
    border: none;
}

.button--with-image__button-image {
  
}

.logo-with--title__image {

}

.option-container__lang-image {
  
}

.language-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.language-select-container__lang-name {
    font-weight: normal;
    font-size: 11px;
    color: #555555;
}

.options-container__telephone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.form__select, .form__select:hover, .form__select:focus {
    border: none;
    font-weight: 900;
    color: #555555;
    font-size: 12pt; 
}

.option-container__hint {
    color: #00B8FF;
    border-bottom: #00B8FF dashed 1.5px;
    padding-bottom: 3px;
    flex-grow: 1;
    font-size: 8pt;
}

.button {
    color: white;
    background-color: #00B8FF;
    border: none;
    padding: 10px 25px; 
    border-radius: 3px;
    font-size: 12px;
}

.basket-icon {
    position: relative;
}

.basket-icon__button--with-image {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.button--with-image__button-image {
}

.basket-icon__basket-items-count-container {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10pt;
    background: #00B8FF;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.basket-icon__basket-items-count {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 

}

.main-page__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-grow: 10;
}

.main-page__banner {
    flex-grow: 5;
}

.main-page__catalog {
    flex-grow: 5;
}

.banner__body{
    background: linear-gradient(to right, #F1F5FE, #D1EEFC);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}



.banner__below-description-bubble-container {
    position: relative;
    grid-area: 1/2;
}

.banner__bubble-bubbles-under-white {
    position: absolute;
    bottom: 40px;
    right: 150px;
    height: 120px;
    transform: rotate(0.9turn);
    z-index: 1;
}

.banner__white-bubble {
    position: absolute;
    height: 110px;
    z-index: 2;
}

.banner__under-description-bubble-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    grid-area: 3 / 3 / 4 / 4;
}

.banner-description__button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.banner__banner-description {
    grid-area: 2 / 1 / 3 / 4;
    align-content: center;
}

.banner__bubble_and_tablet-under-description {
    height: 60px;
}

.banner__blue-with-white-under-description {
    height: 130px;
}
.banner_below-desktop-container {
    grid-area: 1/4/2/5;
    display: flex;
    justify-content: end;
}

.blue-buble-tablet-below-desktop {
    height: 200px;
}

.banner_desktop-container {
    background: url("images/desktop.svg") no-repeat;
    position: relative;
    height: 60%;
    width: 100%;
    grid-area: 1/4/4/7;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_desktop {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width:"50%"; height:"50%";
}

.banner_desktop-screen {
    
}

.banner__left-arrow-button {
    grid-area: 2 / 1 / 3 / 4;
}

.banner__left-arrow-image {
    transform: rotate(0.5turn);
}

/*.banner_desktop-screen {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}*/

.main-page__catalog {
    padding: 5% 10%;
}

.catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    font-size: 45pt;
    color: #2D3448;
    font-weight: bold;
    margin-bottom: 25px;
}

.catalog__body {
    display: flex;
    flex-wrap: wrap;
}

.service-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    width: 33%;
    padding: 25px;
    border-radius: 5px;
}

.service-card:hover {
    cursor: pointer;
    box-shadow: rgb(191, 191, 191) 0 2px 4px;
}

.service-card__image {
    height: 60px;
}

.service-card__title {
    font-size: 18pt;
    font-weight: bold;
}

.service-card__description {
    color: #6B6B6B;
}